<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand">
    <img src="../../../../assets/images/logo.svg" style="margin-left: 40px;" width="200"
      class="d-inline-block align-top" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto"></ul>
    <span class="navbar-text" style="margin-right: 40px;">

    </span>
    <span class="navbar-text" style="margin-right: 40px;">
      <a   class="style-pointer">
        <i class="fas fa-question-circle" ></i>
      </a>
      <a  class="style-pointer">
        <i class="fas fa-home"></i>
      </a>
      Hola Usuario
    </span>
  </div>
</nav>
<div class="test w-100"></div>
